<div class="row mt-3">
    <div class="col-md-6">
        <h3>Listado de Productores</h3>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary float-end">Nuevo productor</button>
    </div>
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <td>Cedula</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Municipio</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comen of listComen">
            <td>{{comen.cedula}}</td>
            <td>{{comen.nombre}}</td>
            <td>{{comen.apellido}}</td>
            <td>{{comen.municipio}}</td>
            <td>
                <button class="btn btn-primary btn-sm float-end">Editar</button>
            </td>
            <td>
                <button class="btn btn-danger btn-sm float-end">Eliminar</button> 
            </td>
        </tr>
    </tbody>
</table>
